<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Character</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Edit <%= character.name%> </h1>
    <form action="/characters/<%=character.id%>?_method=PUT" method="POST" class="add-edit-forms">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="<%= character.name %>" required>
        </div>
        <div>
            <label for="actor">Actor:</label>
            <input type="text" name="actor" id="actor" value="<%= character.actor %>" required>
        </div>
        <div>
            <label for="episodes">Episodes:</label>
            <input type="number" name="episodes" id="episodes" value="<%= character.episodes %>" required>
        </div>
        <div>
            <label for="occupation">Occupation (optional):</label>
            <input type="text" name="occupation" id="occupation" value="<%= character.occupation %>">
        </div>
        <div class="description">
            <label for="description">Description:</label>
            <textarea type="text" name="description" id="description" required><%= character.description %></textarea >
        </div>
        <div>
            <label for="image">Image link:</label>
            <input type="text" name="image" id="image" value="<%= character.image %>" required>
        </div>   
        <button type=submit>Update</button>           
    </form>
    <div class="back-link"> 
        <a href="/characters/<%= character.id %>">Back to <%= character.name %></a>
    </div>    
</body>
</html>