<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= character.name %></title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1><%= character.name %></h1>
    <img src="" alt="<%= character.name %>"/>
    <ul>
        <li>Played by: <%= character.actor %></li>
        <li>Appears in: <%= character.episodes  %> episodes</li>
        <li>Occupation: <%= character.occupation  %></li>
        <li>Description: <%= character.description  %></li>
    </ul>
</body>
</html>