<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= character.name %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>
<body>
    <%- include('./partials/nav') %>
    <h1 id="char-name"><%= character.name %></h1>
    <p id="char-actor">Played by: <%= character.actor %></p>
    <img src="<%= character.image%>" alt="<%= character.name%>" class="character-img"/>
    
    <ul>
        <li>Appears in: <%= character.episodes  %> episodes</li>
        <% if (character.occupation) { %>
            <li>Occupation: <%= character.occupation  %></li>
        <% } %>
        <li>Description: <%= character.description  %></li>
    </ul>

    <% if (character.quotes.length !== 0) { %>
        <h3>Favourite quotes: </h3>
        <ul>
            <% character.quotes.forEach(quote => { %>
                <li><%= quote.text  %></li>
            <% }) %>  
        </ul>      
    <% } %>

    <div class="show-page-actions-div">
        <button class="action-btns">
            <a href="/characters/<%=character.id%>/quote"  class="action-links">Add a quote</a>
        </button>      
        <button class="action-btns">
            <a href="/characters/<%=character.id%>/edit" class="action-links">Edit <%= character.name %></a>
        </button>      
        <form action="/characters/<%=character.id%>?_method=DELETE" method="POST" class="action-btns">
            <button type="submit">Delete <%= character.name %></button>
        </form>
    </div>
    <div> 
        <a href="/characters">Back to Characters</a>
    </div>
</body>
</html>